# Zorglocaties

In [1]:
# import modules and version info
import sys
print(f'python     {sys.version_info.major}.{sys.version_info.minor}.{sys.version_info.micro}')

import numpy as np
print(f'numpy      {np.__version__}')

import pandas as pd
print(f'pandas     {pd.__version__}')

import geopandas as gpd
print(f'geopandas  {gpd.__version__}')

import matplotlib.pyplot as plt
print(f'matplotlib {sys.modules["matplotlib"].__version__}')

from shapely.geometry import Point
print(f'shapely    {sys.modules["shapely"].__version__}')

import folium # conda install -c conda-forge folium
from folium.plugins import MarkerCluster
print(f'folium     {folium.__version__}')

import ipywidgets
print(f'ipywidgets {ipywidgets.__version__}')

python     3.6.6
numpy      1.15.4
pandas     0.23.4
geopandas  0.4.0
matplotlib 2.2.2
shapely    1.6.4.post2
folium     0.7.0
ipywidgets 7.4.2

### Lees data

In [2]:
# gemeentegrenzen
gg = gpd.read_file('../shapefiles/imergis/2018-Imergis_gemeentegrenzen_kustlijn-shp/2018-Imergis_gemeentegrenzen_kustlijn.shp')

In [3]:
# zorglocaties
locatie = pd.read_csv('../data/zorglocaties.csv', usecols=['postcode', 'sector']).dropna()
locatie['postcode'] = locatie.postcode.apply(lambda x: x.replace(' ', '').upper())
locatie.sample(n=7)

      postcode                                            sector
11103   1314SZ       Instelling voor verstandelijk gehandicapten
2242    2201KS                   Verpleeghuis en verzorgingshuis
398     5232AC                       Centrum voor eetstoornissen
18079   6566EH                                Huisartsenpraktijk
38433   7906PC  Woonvoorziening voor verstandelijk gehandicapten
25801   6843WS                                 Diëtistenpraktijk
29598   5421AG                             Fysiotherapiepraktijk

In [4]:
# postcode
pc6 = pd.read_csv('../shapefiles/bag/Postcodes-plaatsen-overheid-nuts-2018/woonplaatsen_pc6.csv', 
                  usecols=['pc6', 'rdx', 'rdy'], sep=';')
pc6.columns = ['postcode', 'rdx', 'rdy']
pc6.sample(n=7)

       postcode            rdx            rdy
393254   3581HC  138005.677000  456162.736250
196566   3871RR  160200.846154  465594.692308
328988   3086SG   91183.573050  432016.017250
56105    2991CV   96530.844667  429942.057444
386439   8322AJ  171161.454000  519811.729667
372022   8255CJ  172275.688171  508972.819029
253232   5366AR  167139.253018  425976.260579

### Samenvoegen data

In [5]:
# merge data
df = pd.merge(locatie, pc6, how='left', on='postcode').dropna()
df.sample(n=7)

      postcode                       sector            rdx            rdy
4578    6222VE                     Apotheek  178044.067867  319368.281067
6993    7812AM                          GGZ  256426.449000  533150.455187
26375   5521WD            Diëtistenpraktijk  150613.851813  373977.523453
30888   8261JX  Particulier woonzorgcentrum  191198.508870  507624.997278
31282   5051NX         Huidtherapiepraktijk  131401.824000  391724.726500
19023   3341XD           Tandartsenpraktijk  104008.527838  429398.212868
45335   6971EJ           Tandartsenpraktijk  207484.783609  456899.828348

### Top 20

In [6]:
# aantal zorglocaties per sector (top 20)
df.sector.value_counts()[:20]

Fysiotherapiepraktijk                               7670
Huisartsenpraktijk                                  4691
Tandartsenpraktijk                                  4638
Thuiszorg                                           3491
Diëtistenpraktijk                                   2572
Psychologiepraktijk en psychotherapiepraktijk       2414
Verpleeghuis en verzorgingshuis                     2170
Apotheek                                            1894
Woonvoorziening voor verstandelijk gehandicapten    1893
Logopediepraktijk                                   1893
GGZ                                                 1557
Organisatie                                         1261
Oefentherapiepraktijk                               1241
Podotherapiepraktijk                                1157
Verloskundepraktijk                                  718
Huidtherapiepraktijk                                 656
Mondhygiënistenpraktijk                              601
Arbo- en reïntegratiebedrijf                         494
Artsenpraktijk voor alternatieve geneeskunde         422
Psychiatriepraktijk                                  401
Name: sector, dtype: int64

### Zorgkaart

In [7]:
def zorgkaart(sector):
    selectie = df[df.sector == sector]
    gg.plot(figsize=(10, 12), color='lightgrey', edgecolor='white', linewidth=0.2)
    plt.title('{} ($n$={})'.format(sector, selectie.shape[0]), fontsize=16, color='#323232')
    plt.scatter(selectie.rdx, selectie.rdy, color='royalblue', alpha=0.7)
    plt.axis('off')
    return plt.show()

ipywidgets.interact(zorgkaart,
                    sector = ipywidgets.Dropdown(options=np.sort(df.sector.unique()),
                                                 value='Ziekenhuis',
                                                 description='Zorgsector')
                   )

interactive(children=(Dropdown(description='Zorgsector', index=76, options=('Abortuskliniek', 'Apotheek', 'Arb…